@import '../../scss/variables.scss';

.title {
  font-size: 1.5rem;
  font-weight: 700;
  &--dark {
    @extend .title;
    color: $dark-text;
  }
  &--light {
    @extend .title;
    color: $light-text;
  }
}
