$dark-backgound: hsl(230, 17%, 14%);
$light-backgound: hsl(0, 0%, 100%);
$dark-cardBg: hsl(228, 28%, 20%);
$light-cardBg: hsl(227, 47%, 96%);
$dark-text: hsl(0, 0%, 100%);
$light-text: hsl(230, 17%, 14%);
$dark-textMuted: hsl(228, 34%, 66%);
$light-textMuted: hsl(228, 12%, 44%);
$light-toggleBg: hsl(230, 22%, 74%);
$dark-toggleBg: linear-gradient(to right, hsl(210, 78%, 56%), hsl(146, 68%, 55%));

$lime-green: hsl(163, 72%, 41%);
$bright-red: hsl(356, 69%, 56%);
$facebook-blue: hsl(208, 92%, 52%);
$twitter-blue: hsl(203, 89%, 53%);
$instagram-colors: linear-gradient(to right, hsl(37, 97%, 70%), hsl(329, 70%, 58%));
$youtube-red: hsl(348, 97%, 39%);

$tablet-breakpoint: 768px;
$desktopSmall-breakpoint: 1024px;
$desktop-breakpoint: 1440px;
